:root {
  --title-color: #ffffff;
}

/* Пока что приклади "от балди" */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: color-mix(in srgb, color percentage, color percentage);
}

h2 {
  color: blueviolet;
  color: ;
}

.capitalized {
  text-transform: capitalize;
}
.uppercased {
  text-transform: uppercase;
}

/* Ada ПРИКЛАД НЕ З цього завдання. Видалити */
button {
  border: none;
  background-color: transparent;
  font-size: 5em;
}

button:hover,
button:focus,
button:hover ~ button,
button:focus ~ button {
  color: #f498ad;
}
